
.header__menu--open{
	display: block;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--white);
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		position: initial;
		z-index: initial;
		top: initial;
		left: initial;
		width: auto;
		height: auto;
		background-color: transparent;										
	}	
	@media (--xl-viewport){
										
	}
}

