mixin banner-first-aid(userClass)
	- uc = {class: userClass || ''};
	.banner.banner--first-aid()&attributes(uc)
		h3.block__title.fs-3.color--red.mt-0.mb-2 «Первая помощь»
		ul.list.list--dots.my-0
			li.list__item 
				a.link(href="#") Как учредить первичную профсоюзную организацию?
			li.list__item 
				a.link(href="#") Когда вызовут один на один к начальству...
			li.list__item 
				a.link(href="#") Чем может и должна заниматься первичка профсоюза?
		div.text-right
			a.color--red(href="#") еще статьи
mixin banner-structure(userClass)
	- uc = {class: userClass || ''};
	.banner.banner--structure()&attributes(uc)
		h3.block__title.fs-3.mt-0.mb-2 Первичные организации
		ul.list.list--chewrons.my-0
			li.list__item 
				.font-weight-bold.font--serif.fs-7.mb-2 Группы в университетах
				p.color--gray.mt-0
					| Мы защищаем права и интересы работников учебных заведений. Найдите свой университет или создайте первичную организацию 
mixin banner-join(userClass)
	- uc = {class: userClass || ''};
	a.banner.banner--join.pt-6(href="#")&attributes(uc)
		h3.block__title.fs-3.mt-6.mb-0 Вступить в профсоюз
		p.mt-0 Присоединяйтесь к нам!