section.section.section--partners
	.page__wrapper
		a.partner(href="#")
			img(src="images/partners/partner-1.jpg", alt="partner-1")
		a.partner(href="#")
			img(src="images/partners/partner-2.png", alt="partner-2")
		a.partner(href="#")
			img(src="images/partners/partner-3.jpg", alt="partner-3")
		a.partner(href="#")
			img(src="images/partners/partner-4.png", alt="partner-4")
		a.partner(href="#")
			img(src="images/partners/partner-5.jpg", alt="partner-5")
		a.partner(href="#")
			img(src="images/partners/partner-6.jpg", alt="partner-6")
		a.partner(href="#")
			img(src="images/partners/partner-7.jpg", alt="partner-7")
		a.partner(href="#")
			img(src="images/partners/partner-8.jpg", alt="partner-8")
		a.partner(href="#")
			img(src="images/partners/partner-9.jpg", alt="partner-9")