section.section.section--partners
	.page__wrapper
		.swiper-container.slider--partners
			.swiper-wrapper.slider__wrapper
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-1.jpg", alt="partner-1")
						+picture({src:"images/partners/partner-1.jpg", alt: "partner-1"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-2.png", alt="partner-2")
						+picture({src:"images/partners/partner-2.png", alt: "partner-2"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-3.jpg", alt="partner-3")
						+picture({src:"images/partners/partner-3.jpg", alt: "partner-3"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-4.png", alt="partner-4")
						+picture({src:"images/partners/partner-4.png", alt: "partner-4"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-5.png", alt="partner-5")
						+picture({src:"images/partners/partner-5.png", alt: "partner-5"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-6.png", alt="partner-6")
						+picture({src:"images/partners/partner-6.png", alt: "partner-6"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-7.jpg", alt="partner-7")
						+picture({src:"images/partners/partner-7.jpg", alt: "partner-7"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-8.png", alt="partner-8")
						+picture({src:"images/partners/partner-8.png", alt: "partner-8"})
				.swiper-slide.slider__slide
					a.partner(href="#")
						//-img(src="images/partners/partner-9.png", alt="partner-9")
						+picture({src:"images/partners/partner-9.png", alt: "partner-9"})
