
.link--show-more{
	text-decoration: underline;
	text-transform: uppercase;
	color: var(--red_b01);
	display: block;
	width: 100%;
	text-align: left;
	font-weight: var(--fw-bold);
	&:hover{
		color: color(#b01e21 lightness(-10%));
	}
}

