
.link--show-more{
	text-decoration: underline;
	text-transform: uppercase;
	color: var(--white);
	display: block;
	width: 100%;
	text-align: left;
	font-weight: var(--fw-bold);
	background-color: var(--red_b01);
	text-align: center;
	padding: 13px 12px;
	&:hover{
		background-color: color(#b01e21 lightness(-10%));
	}		
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		padding: 0;
		text-align: left;
		background-color: transparent;
		color: var(--red_b01);
		&:hover{
			background-color: transparent;
			color: color(#b01e21 lightness(-10%));
		}
	}	
	@media (--xl-viewport){
										
	}		
}

