
.list--contacts{
	& > li{
		font-size: 20px;
		font-weight: var(--fw-bold);
		font-family: PTSans;
		& > span{
			font-size: 20px;
			font-weight: var(--fw-bold);
			font-family: PTSans;
		}
		& > *{
			font-family: PTSerif;
			font-weight: normal;
			font-size: 18px;
			margin-top: 18px;
			margin-bottom: 18px;
		}
		& ul {
			padding-left: 0;
			& > li{
				margin-bottom: 5px;
			}
		}
	}
}

