
.header__menu{
	display: none;
	& .list{
		margin-top: 0;
		margin-bottom: 0;
	}
	& .list__item{
	
	}
	& .nav__item{
		font-weight: var(--fw-bold);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;		
		& .link,
		& a{
			display: block;
			flex-grow: 1;
		}
	}
	& .btn-link{
		border: none;
		box-shadow: none;
		color: var(--black);
		outline: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		flex-grow: 100;
		margin-left: 10px;
		margin-top: 4px;
		padding: 0;
		& .icon,
		& svg{
			width: 12px;
			height: 12px;
			transform: rotate(0deg);
		}
	}
	& .list__item--active{
		& > .nav__item{
			& .btn-link{
				& .icon,
				& svg{
					transform: rotate(180deg);
				}
			}
		}
	}	
	& .page__wrapper{
		& > .list{
			& > .list__item{
				&:hover,
				&.current-menu-item{

				}
				&.list__item--active{
					& > .nav__item{
						border-bottom: 4px solid;
						border-color: var(--red_b01);
						& .link,
						& a{
							padding-bottom: 6px;
						}											
					}					
					& > .list{
						display: block;
					}
				}				
				& > .nav__item{
					text-transform: uppercase;
					font-family: PTSans;
					font-size: 20px;
					border-bottom:  1px solid;
					border-color: var(--gray_d7d);
					& .link,
					& a{
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				& .list{
					display: none;
					background-color: var(--black);
					color: var(--white);
					& .btn-link{
						color: var(--white);
						margin-top: 1px;	
					}					
					& > .list__item{
						&:hover,
						&.list__item--active,
						&.current-menu-item{
							color: var(--red_b01);
							text-decoration: underline;
						}						
						&:last-of-type{
							& .nav__item{
								border-bottom-color: transparent;
							}
						}
						& > .nav__item{
							padding-left: 15px;
							padding-right: 15px;
							border-top:  1px solid;
							border-bottom:  1px solid;
							border-top-color: transparent;
							border-bottom-color: color(#ffffff alpha(60%));
							& .link,
							& a{
								padding-top: 12px;
								padding-bottom: 12px;
							}													
						}
						& .list{
							& > .list__item{
								& > .nav__item{
									padding-left: 30px;
								}								
							}
						}
					}
				}
			}
		}
	}
	@media (--sm-viewport){
		
	}
	@media (--md-viewport){
	
	}
	@media (--lg-viewport){
		display: block;
		border-bottom: 1px solid;
		border-color: var(--gray_d7d);
		box-shadow: 0px 3px 12px 0px rgba(22, 22, 22, .17);	
		&.custom-scroll{
			overflow: visible !important;
		}		
		& .list{

		}
		& .list__item{
			position: relative;
		}
		& .nav__item{	
			& .link,
			& a{

			}
		}		
		& .btn-link{
			display: none;
		}		
		& .page__wrapper{
			display: flex;
			align-items: center;
			justify-content: center;
			& > .list{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;				
				& > .list__item{
					padding-left: 12px;
					padding-right: 12px;
					&:hover,
					&.list__item--active,
					&.current-menu-item{
						& > .nav__item{
							border-bottom: 4px solid;
							border-color: var(--red_b01);
							& .link,
							& a{
								padding-bottom: 8px;							
							}												
						}
						& > .list{
							display: block;
						}
					}					
					& > .nav__item{
						border: none;
						& .link,
						& a{
							padding-left: 15px;
							padding-right: 15px;
							padding-top: 16px;
							padding-bottom: 12px;							
						}
					}
					& .list{
						position: absolute;
						min-width: 100%;
						max-width: 100vw;
						white-space: nowrap;
						& > .list__item{
							&:hover,
							&.list__item--active,
							&.current-menu-item{
								& > .list{
									display: block;
								}
							}						
							&:last-of-type{
								& > .nav__item{

								}
							}
							& > .nav__item{

								& .link,
								& a{

								}													
							}
							& .list{
								display: none;
								left: 100%;
								top: 0;
								& > .list__item{
									& > .nav__item{
										padding-left: 15px;
									}								
								}
							}							
						}
					}
				}
			}			
		}
	}	
	@media (--xl-viewport){
					
	}
}

