
.page__header--menu-open{
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100vh;
	& .header__menu-toggle{
		& .icon--menu{
			display: none;
		}
		& .icon--menu-close{
			display: inline;
		}
	}
	& .header__logo{
		display: none;
	}
	& .header__menu{
		display: block;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		position: static;
		height: auto;
		& .header__logo{
			display: block;
		}		
		& .header__menu{

		}
	}	
	@media (--xl-viewport){
										
	}
}

