
.article--sm{
	& .article__title{
		font-size: 20px;
		margin-bottom: 4px;
	}
	& .article__info{
		margin-bottom: 12px;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){

	}	
	@media (--xl-viewport){
										
	}	
}

