
.link--submit{
	text-decoration: underline;
	text-transform: uppercase;
	color: var(--red_b01);
	font-weight: var(--fw-bold);
	font-family: PTSerif;
	&:hover{
		color: color(#b01e21 lightness(-10%));
	}		
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){

	}	
	@media (--xl-viewport){
										
	}
}

