
.block__title{
	font-family: PTSans;
	/*letter-spacing: 0.2px;*/
	font-weight: var(--fw-bold);
	margin-top: 0;
	display: block;
	text-decoration: none;
	font-size: 24px;
	&::first-letter{
		text-transform: uppercase;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		font-size: 28px;							
	}	
	@media (--xl-viewport){
										
	}	
}

