
.section--actions{
	font-family: PTSans;
	background-color: var(--gray_464);
	color: var(--white);
	& > .page__wrapper{
		padding-top: 22px;
		padding-bottom: 28px;
	}
	& .article__pic{
		display: none;
	}	
	& .article__date{
		color: var(--white);
		opacity: 0.6;
	}	
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		& .article__pic{
			display: block;
		}
		& .article__wrapper--cols-4{
			& .article{
				max-width: calc(25% - var(--aside-gap)/2);
			}	
		}				
	}	
	@media (--xl-viewport){
		& .article__wrapper--cols-4{
			& .article{
				max-width: calc(25% - 75px);
			}	
		}										
	}	
}

