include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			include ./partials/header.pug
			main.page__main.mb-7.pb-3
				section.section.section--articles
					.page__wrapper.mb-7.pb-3
						.page__main-content
							+page_title('Документы')
							.blog
								h5 Миссия профсоюза «Университетская солидарность»
								p
									| Мы, преподаватели и сотрудники высшей школы России - работники интеллектуального труда, объединились в независимый от работодателей и государства профсоюз на основе ценностей интеллектуальной свободы, социальной справедливости, гуманизма, демократии и профессионализма.
								p
									| Сознавая себя частью российского и международного движения трудящихся, мы защищаем трудовые права и интересы работников высшей школы, боремся за улучшение их материального положения, отстаиваем достоинство и свободу.
								p
									| Мы выступаем за повышение качества образования, его общедоступность, развитие академического самоуправления, которое ставит преподавателя и студента в центр университетской жизни.
								p
									| Наша цель - формирование критически мыслящей личности, без которой невозможно современное, справедливое, динамично развивающееся общество.
								p.text-uppercase
									| Наша сила - солидарность и интеллект!
								b
									ul
										li
											| Учредительная декларация профсоюза «Университетская солидарность» (2013)
										li
											| Устав профсоюза «Университетская солидарность»
										li
											| Положение о ППО «Университетская солидарность» МГУ имени М.В. Ломоносова
						aside.page__main-aside
							a.block__title.mt-0.mb-3(href="#") Новости
							+articles--lg([7, 14, 6], 'mb-5')
			include ./partials/footer.pug
		+scripts()