include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--articles
					.page__wrapper
						.page__main-content
							.article__wrapper-3
								+articles--lg([2, 5, 7], 'mb-1')
				section.section.section--banners
					.page__wrapper
						+banner-about('mw-none mr-3')
						+banner-join()
				section.section.section--articles
					.page__wrapper
						.page__main-content
							.article__wrapper-3
								+articles--lg([13, 14, 6], 'mb-5')
							+showmore()
			include ./partials/footer.pug
		+scripts()