include ./mixins.pug
include ./partials/articles.pug
include ./partials/showmore.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--articles
					.page__wrapper.pb-4
						.page__main-content
							+article--xl(1)
						aside.page__main-aside
							+article--lg(17)
							hr.hr
							+article--sm(18)
				section.section.section--banners
					.page__wrapper
						.banner.banner--first-aid
							h3.block__title.fs-3.color--red.mt-0.mb-2 «Первая помощь»
							ul.list.list--dots.my-0
								li.list__item 
									a.link(href="#") Как учредить первичную профсоюзную организацию?
								li.list__item 
									a.link(href="#") Когда вызовут один на один к начальству...
								li.list__item 
									a.link(href="#") Чем может и должна заниматься первичка профсоюза?
							div.text-right
								a.color--red(href="#") еще статьи
						.banner.banner--structure
							h3.block__title.fs-3.mt-0.mb-2 Первичные организации
							ul.list.list--chewrons.my-0
								li.list__item 
									.font-weight-bold.font--serif.fs-7.mb-2 Группы в университетах
									p.color--gray.mt-0
										| Мы защищаем права и интересы работников учебных заведений. Найдите свой университет или создайте первичную организацию 
						a.banner.banner--join.pt-6(href="#")
							h3.block__title.fs-3.mt-6.mb-0 Вступить в профсоюз
							p.mt-0 Присоединяйтесь к нам!
				section.section.section--articles
					.page__wrapper
						.page__main-content
							.article__wrapper-2
								+articles--lg([2,5,6,7], 'mb-6')
							+showmore()
						aside.page__main-aside.page__main-aside--bordered
							h3.block__title.fs-3.mt-0.mb-3 Вокруг университета
							+articles--xs([4,19,20,21,22,4,19,20], 'mb-4')
				section.section.section--actions
					.page__wrapper
						h2.block__title.fs-3 Наши действия
						.article__wrapper-4
							+articles--md([3,8,9,10])
				section.section.section--articles.mb-7.pb-7
					.page__wrapper.pt-4
						.page__main-content
							h2.block__title.fs-3 Интервью
							.article__wrapper-2
								+articles--lg([11,12,13,14])
							+showmore()
						aside.page__main-aside
							h2.block__title.fs-3 «На дне образования»
							+article--lg(15, '', true)
							+article--lg(16, '', true)
							+showmore()
			include ./partials/partners.pug
			include ./partials/footer.pug
		+scripts()