include ./mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			include ./partials/header.pug
			main.page__main
				.page__wrapper
					.page__main-content
						| content
					aside.page__main-aside
						| aside
			include ./partials/partners.pug
			include ./partials/footer.pug
		+scripts()