include ./mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			header.page__header
				.page__wrapper
					| page__header
			main.page__main
				.page__wrapper
					| page__main
			footer.page__footer
				.page__wrapper
					| page__footer
		+scripts()