include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ./partials/svg_sprite.pug
		.page__body
			+header(true)
			main.page__main.mb-7.pb-3
				section.section.section--articles
					.page__wrapper.mb-7.pb-3
						.page__main-content
							.blog__post
								+article--blog(26)
								p
									| Об этом сопредседатель Межрегионального профсоюза работников высшей школы «Университетская солидарность» Павел Кудюкин заявил в ходе своего выступления на митинге против повышения пенсионного возраста в Москве. Акция была организована представителями Либертарианской партии и прошла с участием различных общественных объединений, в  том числе и активистов Профсоюза.
								p
									| По его мнению, российские власти добились общенационального консенсуса — самые разные силы объединились в неприятии законопроекта о повышении пенсионного возраста. А свое выступление (в качестве профсоюзника и социалиста) на акции либертарианцев назвал «перимирием против общего врага».
								blockquote
									| «У нас разные представления о будущем пенсионной системы и не во всём совпадающие мотивы неприятия инициативы правительства. Но все мы понимаем, что она — жульническая и нарушает социальный договор между гражданами и государством. А уважение к договорам — одна из основ современного общества, — заявил Павел Михайлович и продолжил. — Один московский экономист определил законопроект как «пенсионный дефолт», но я бы к этому добавил, что это дефолт без должных оснований. По сути — аналог фиктивного банкротства, которое в праве многих стран, в том числе и в России, является уголовным преступлением».
								p
									| В своей речи с трибуны, он также отметил, что запущенная Конфедерацией труда России кампания «Народ против повышения пенсионного возраста» имеет своей целью отзыв законопроекта.
								blockquote
									| «Мы считаем, что компромиссы здесь невозможны. Этой цели удастся достичь, если кампания будет действительно массовой, вовлекающей в участие — когда-то координированное, когда-то самостоятельное — самые разные общественные и политические силы. Когда мы едины, мы непобедимы! В борьбе обретём мы право своё!» — заключил Павел Кудюкин, под одобрительные выкрики протестующих.
								p
									| По данным наблюдателей акция стала действительно массовой – участие в ней приняли не менее 10-12 тысяч человек. Перед выступлениями с трибуны было организовано импровизированное шествие. Протестующие выкрикивали лозунги и речевки. Наиболее популярными стали – «Правительство в отставку!», «Рабочим – заводы, студентам – вузы. Нам нужны боевые профсоюзы!»  и другие.
								p
									| Напомним, вчера, 28 июля, на проспекте Сахарова прошла массовая акция против повышения пенсионного возраста, инициированная КПРФ. Участие в ней также приняли активисты «Университетской солидарности». По независимым оценкам митинг собрал примерно такое же количество протестующих – порядка 12 тысяч.
								.lightbox__wrapper
									.lightbox__item
										a(href="images/pages/lightbox_1.jpg", data-lightbox="gallery-1" data-title="image 1 title")
											img(src="images/pages/lightbox_1.jpg", alt="image 1 alt")
									.lightbox__item
										a(href="images/pages/lightbox_2.jpg", data-lightbox="gallery-1" data-title="image 2 title")
											img(src="images/pages/lightbox_2.jpg", alt="image 2 alt")
									.lightbox__item
										a(href="images/pages/lightbox_3.jpg", data-lightbox="gallery-1" data-title="image 3 title")
											img(src="images/pages/lightbox_3.jpg", alt="image 3 alt")
									.lightbox__item
										a(href="images/pages/lightbox_4.jpg", data-lightbox="gallery-1" data-title="image 4 title")
											img(src="images/pages/lightbox_4.jpg", alt="image 4 alt")
							include partials/share.pug
							include partials/comments.pug
						aside.page__main-aside
							.banner.banner--news
								a.block__title.mt-0.mb-3(href="#") Новости
								.article__wrapper
									+articles--lg([7, 14, 6], 'mb-5')
			include ./partials/footer.pug
		+scripts()