include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ./partials/svg_sprite.pug
		.page__body
			+header()
			main.page__main.mb-7.pb-3
				section.section.section--articles
					.page__wrapper.mb-7.pb-3
						.page__main-content
							.blog__post
								+article--blog(25)
								p
									| Никулинский суд Москвы оштрафовал сопредседателя Межрегионального профсоюза работников высшей школы «Университетская солидарность» Андроника Арутюнова на 20 тыс. руб. (минимальный штраф по вменявшейся статье 20.2 часть 2 КоАП) за проведение одиночного пикета против уголовного преследования студента филологического факультета МГУ Дмитрия Петелина.
								p
									| Основанием для задержания сопредседателя Профсоюза являлся антиконституционный Указ Президента № 202 об ограничениях на проведение массовых мероприятий в период ЧМ-2018 (ограничения начались с 25 мая). При этом истолкование указа весьма спорно, поскольку там говорится о дополнительных согласованиях мероприятий, а одиночные пикеты по закону проводятся без согласования.
								blockquote
									| «Естественно, я считаю это решение суда абсолютно незаконным, оно будет обжаловано, и понятно с каким результатом. Хочется подчеркнуть, что я четырнадцать часов просидел в камере прдварительного заключения без нормального доступа к воде, еде и, в общем-то, в неприятных условиях, которые никоим образом не соовтетствовали тяжести того правонарушения, которое мне инкриминировалось. При этом я убежден, что оно не имеет ничего общего с действительностью и абсолютно антиконституционно», — рассказал после суда Андроник Арутюнов.
								h5 Так оформляется подзаголовок
								p
									| Некоторые из говорящих голов не выглядят свежепобритыми, особенно тот же Коржаков. Видимо, трехдневная щетина должна возвращать зрителя к идее искренности. Но, конечно, это не касается главных действующих лиц.
								p
									| Только одно интервью происходит в интерьере и с участием интервьюера – Ксения Собчак говорит с матерью, Людмилой Нарусовой. В сравнении с прочими интервью, взятыми на черном фоне, вовсе без интерьерных деталей, что дополнительно убеждает в официозности происходящего, этот разговор пышет человеческим теплом и полон светлой скорби. Автор Ксения сидит то у ног матери, то на одном диване с нею, а то за одним столом; одеты обе вовсе не для выхода в свет. Окружает их хорошая старинная мебель, может, даже антикварная, но не музейная, а обжитая; <a href="#">матовое дерево</a> и мягкий свет добавляют теплоты и искренности разговору. И Людмила Нарусова, в отличие от прочих персонажей фильма, не только факты перечисляет, но и переживает о совершенных ошибках, грустит о невосполнимой и непережитой утрате.
							include partials/share.pug
							include partials/comments.pug
						aside.page__main-aside
							+banner-first-aid('mb-5')
							+banner-structure('mb-5')
							+banner-join('mb-5')
							.block--bordered
								a.block__title.mt-0.mb-3(href=around_page) Вокруг университета
								.article__wrapper
									+articles--xs([4,19,20,21,22,4,19,20], 'mb-4')
				.page__wrapper
					hr
				section.section
					.page__wrapper
						a.block__title.mb-4(href="#") Контекст
						.article__wrapper.article__wrapper--cols-3
							+articles--lg([11,23,24])
			include ./partials/partners.pug
			include ./partials/footer.pug
		+scripts()