include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			main.page__main
				ul
					li
						a(href="index.html") index page
					li
						a(href="rulers.html") rulers page
					li
						a(href="tag.html") tag page
					li
						a(href="about.html") about page
					li
						a(href="contacts.html") contacts page
					li
						a(href="news.html") news page
					li
						a(href="around.html") around page
					li
						a(href="contacts2.html") contacts2 page
					li
						a(href="docs.html") docs page
					li
						a(href="index2.html") index2 page
