include ./mixins/mixins.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			include ./partials/header.pug
			main.page__main.mb-7.pb-3
				section.section.section--articles
					.page__wrapper.mb-7.pb-3
						.page__main-content
							a.block__title.fs-3.font--serif.mt-0.mb-3(href="#") Руководящие органы профсоюза							
							.blog
								i
									| Руководящие органы профсоюза избраны II очередной конференцией профсоюза 4-5 февраля 2017 г.
								ol.list--contacts
									li 
										span Сопредседатели Центрального Совета:
										ul
											li Кудюкин Павел Михайлович — <a href="mailto:pavkudyukin@gmail.com">pavkudyukin@gmail.com</a>;
											li Тиллес Ванда Феликсовна — <a href="mailto:wanda_tilles@rambler.ru">wanda_tilles@rambler.ru</a>;
											li Арутюнов Андроник Арамович — <a href="mailto:andronick.arutyunov@gmail.com">andronick.arutyunov@gmail.com</a>;
									li 
										span Центральный Совет Межрегионального профсоюза работников высшей школы «Университетская солидарность»:
										ul
											li Арутюнов Андроник Арамович (Московский физико-технический институт);
											li Архинчеев Валерий Ефимочив (Бурятский государственный университет);
											li Балашов Максим Викторович (Московский физико-технический институт);
											li Гусев Алексей Викторович (Московский государственный университет имени М.В. Ломоносова);
											li Киселева Людмила Александровна (Уральский государственный лесотехнический университет);
											li Киселёва Ольга Олеговна (Санкт-Петербургская государственная академия ветеринарной медицины);
											li Крылова Юлия Викторовна (Санкт-Петербургский государственный университет);
											li Кудюкин Павел Михайлович (Национальный исследовательский университет Высшая школа экономики);
											li Лобанов Михаил Сергеевич (Московский государственный университет имени М.В. Ломоносова);
											li Лордкипанидзе Марина Георгиевна (Уральский федеральный университет);
											li Морозова Валерия Олеговна (Санкт-Петербургский Государственный Лесотехнический университет им. С.М. Кирова);
											li Мусафина Светлана Хатамовна (Уральская Государственная Консерватория им. Мусоргского);
											li Сафронов Игорь Павлович (Московский Государственный Педагогический университет);
											li Скобеева Виктория Александровна (Московский государственный университет имени М.В. Ломоносова);
											li Терехова Наталья Геннадьевна (Высшая школа экономики);
											li Тиллес Ванда Феликсовна (Югорский государственный университет);
											li Трушкина Ирина Рыксибаевна (Санкт-Петербургский Государственный Аграрный Университет);
											li Трынов Дмитрий Валерьевич (Уральский федеральный университет имени Б.Н. Ельцина);
											li Шагут Юрий Кузьмич (Югорский государственный университет);
											li Шахматова Елена Васильевна (Государственный университет управления);
											li Шнырова Ольга Вадимовна (Ивановский государственный университет).											
									li 
										span Оргсекретарь профсоюза «Университетская солидарность»:
										ul
											li Комов Владимир  Александрович  <a href="tel:+79152124007">+7 915-212-40-07</a>, <a href="mailto:vkomovrev@gmail.com">vkomovrev@gmail.com</a>.
									li 
										span Контрольно-ревизионная комиссия:
										ul
											li Уварова Светлана Викторовна, (СПбГУ, Санкт-Петербург);
											li Ягодкина Елена Олеговна (МГУ, Москва).
								hr
								p
									i
										| По всем вопросам, связанным с сайтом и с публикацией своих статей и материалов на его страницах, обращайтесь к Арутюнову Андронику — <a href="mailto:andronick.arutyunov@gmail.com">andronick.arutyunov@gmail.com</a>.
								hr
								#share
								include partials/comments.pug
						aside.page__main-aside
							+banner-first-aid('mb-5')
							+banner-structure('mb-5')
							+banner-join('mb-5')
							.block--bordered
								a.block__title.fs-3.mt-0.mb-3(href=around_page) Вокруг университета
								+articles--xs([4,19,20,21,22,4,19,20], 'mb-4')
				section.section
					.page__wrapper
						a.block__title.fs-3.mb-4(href="#") Контекст
						.article__wrapper-3
							+articles--lg([11,23,24])
			include ./partials/partners.pug
			include ./partials/footer.pug
		+scripts()