include ./mixins.pug
include ./partials/articles.pug
include ./partials/showmore.pug
include ./partials/banners.pug

doctype html
html(lang="ru")
	+head()
	body.page
		include ../images/sprite.svg
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--articles
					.page__wrapper.mb-7.pb-3
						.page__main-content
							.article__wrapper-2
								+articles--lg([2,5,6,7,13,14,2,5], 'mb-6')
							.pagination
								a.pagination__item(href="#") 1
								.pagination__item.pagination__item--current 2
								a.pagination__item(href="#") 3
								a.pagination__item(href="#") >
						aside.page__main-aside
							+banner-first-aid('mb-5')
							+banner-structure('mb-5')
							+banner-join('mb-5')
							.block--bordered
								h3.block__title.fs-3.mt-0.mb-3 Вокруг университета
								+articles--xs([4,19,20,21,22,4,19,20], 'mb-4')
			include ./partials/partners.pug
			include ./partials/footer.pug
		+scripts()