
.article--xl{
	& .article__title{
		font-size: 20px;
		margin-bottom: 0px;
	}
	& .article__pic{
		position: relative;
		&::before{
			content: '';
			display: block;
			padding-top: 51%;
		}		
		&::after{
			content: '';
			position: absolute;
			z-index: 1;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
			opacity: 0.72;
		}
	}
	& .article__pic-wrapper{
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 18px;
		padding-right: 18px;
	}
	& .article__categories{
		margin-bottom: 10px;
	}	
	& .categories__item{
		padding:  4px 6px;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		& .article__title{
			font-size: 28px;
		}
		& .article__pic-wrapper{
			padding-top: 22px;
			padding-bottom: 22px;
		}
		& .article__pic{
			&::before{
				padding-top: 56%;
			}
		}		
	}	
	@media (--xl-viewport){
										
	}	
}

