
.header__logo-local{
	display: none;
	flex-shrink: 0;
	order: 1;
	width: 100%;
	text-align: center;
	margin-bottom: 4px;
	position: relative;
	z-index: 2;
	& > .icon,
	& > svg{
		width: 145px;
		height: 142px;
	}
	& > img{
		max-width: 145px;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		width: auto;
		margin-bottom: 0;
		& > .icon,
		& > svg{
			width: 160px;
			height: 156px;
			display: block;
		}
		& > img{
			max-width: 160px;
		}
	}	
	@media (--xl-viewport){
										
	}
}

