
.header__menu-toggle{
	background: var(--white);
	border: none;
	box-shadow: none;
	color: var(--black);
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	& .icon--menu{
		
	}
	& .icon--menu-close{
		display: none;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		display: none;		
	}	
	@media (--xl-viewport){
										
	}
}

