mixin banner-first-aid(userClass)
	- uc = {class: userClass || ''};
	.banner.banner--first-aid()&attributes(uc)
		a.banner__title.color--red.mt-0.mb-2(href="#") «Первая помощь»
		ul.list.list--dots.my-0
			li.list__item 
				a.link(href="#") Как учредить первичную профсоюзную организацию?
			li.list__item 
				a.link(href="#") Когда вызовут один на один к начальству...
			li.list__item 
				a.link(href="#") Чем может и должна заниматься первичка профсоюза?
		div.text-right
			a.color--red(href="#") еще статьи
mixin banner-structure(userClass)
	- uc = {class: userClass || ''};
	.banner.banner--structure()&attributes(uc)
		a.banner__title.mt-0.mb-2(href="#") Первичные организации
		ul.list.list--chewrons.my-0
			li.list__item 
				b.font--serif.fs-7.mb-2 Группы в университетах
				p.color--gray.mt-0
					| Мы защищаем права и интересы работников учебных заведений. Найдите свой университет или создайте первичную организацию 
mixin banner-join(userClass)
	- uc = {class: userClass || ''};
	a.banner.banner--join.pt-7(href="#")&attributes(uc)
		h3.banner__title.mt-7.mb-0 Вступить в профсоюз
		p.mt-0 Присоединяйтесь к нам!
mixin banner-about(userClass)
	- uc = {class: userClass || ''};
	.banner.banner--about.pt-0()&attributes(uc)
		h3.banner__title.mt-0 Об организации
		p.mb-0
			| Первичная организация профсоюза «Университетская солидарность» действует в МГУ имени М. В. Ломоносова с ноября 2013 года.
		p.mt-0
			| Она объединяет преподавателей и сотрудников МГУ, которые видят необходимость создания в университете нового, не казенного, а самоуправляемого, независимого профсоюза, строящегося снизу и реально защищающего права и интересы работников. 