-
	var general_menu = [
		{title: 'Профсоюз', link: about_page, inner: [
			{title:'Руководящие органы', link:rulers_page},
			{title:'История создания', link:'#'},
			{title:'Устав', link:'#'},
			{title:'Комиссии', link:'#'},
		]},
		{title: 'Отделения', link: '#', inner: [
			{title: 'МФТИ', link: '#'},
			{title: 'МГУ', link: '#'},
			{title: 'СПБГУ', link: '#'},
			{title: 'СПБГАВМ', link: '#'},
			{title: 'ИВГУ', link: '#'},
			{title: 'УРФУ', link: '#'},
			{title: 'ЮГУ', link: '#'},
		]},
		{title: 'Наши действия	', link: '#'},
		{title: 'Решения ЦС', link: '#'},
		{title: 'Контакты', link: contacts_page},
	];

	var local_menu = [
		{title: 'Состав профкома', link: '#'},
		{title: 'Об организации', link: '#'},
		{title: 'Новости', link: '#'},
		{title: 'Документы', link: local_docs_page},
		{title: 'Контакты', link: local_contacts_page},
	]	

mixin header_menu(menu)
	ul.list
		each item in menu
			li.list__item
				if item.inner
					.nav__item
						a.link(href=item.link)= item.title
						button.btn-link(aria-label="toggle menu item")
							//-+icon('chevron-down')
							icon(name="chevron-down")
					+header_menu( item.inner )
				else
					.nav__item
						a.link(href=item.link)= item.title

mixin header(local)
	header.page__header(v-bind:class="{ 'page__header--menu-open': menuOpen }")
		.header__top
			.page__wrapper
				ul.list.socials.header__socials
					li.list__item
						a.link(href="#", aria-label="unisolidaity facebook")
							//-+icon('facebook')
							icon(name="facebook")
					li.list__item
						a.link(href="#", aria-label="unisolidaity vkontakte")
							//-+icon('vkontakte')
							icon(name="vkontakte")
					li.list__item
						a.link(href="#", aria-label="unisolidaity youtube")
							//-+icon('youtube')
							icon(name="youtube")
					li.list__item
						a.link(href="#", aria-label="unisolidaity telegram")
							//-+icon('telegram')
							icon(name="telegram")
				ul.list.header__language
					li.list__item.list__item--hidden(@click="toggleLanguage('en',$event)")
						a.link(href="#", aria-label="toggle english")
							//-+icon('britain')
							icon(name="britain")
					li.list__item(@click="toggleLanguage('ru',$event)")
						a.link(href="#", aria-label="toggle russian")
							//-+icon('russia')
							icon(name="russia")
				form.header__search(action="/", v-bind:class="{ 'header__search--active': searchActive }")
					input.control__field(type="text", placeholder="Поиск по сайту" name="s" @focus="activateSearch", @blur="deactivateSearch")
					button.btn.btn--icon(type="submit")
						//-+icon('search')
						icon(name="search")
				button.header__menu-toggle(aria-label="toggle menu", @click="toggleMenu")
					//-+icon('menu')
					icon(name="menu")
					//-+icon('menu-close')
					icon(name="menu-close")
		if local
			a.header__logo.header__logo--local(href=href=index_page)
				.page__wrapper
					.header__logo-local
						//-+icon('logo-mgu')
						icon(name="logo-mgu")
					.header__logo-text
						.header__logo-title
							| Университетская солидарность
						.header__logo-subtitle
							| Официальный сайт первичной профсоюзной организации «Университетская солидарность» МГУ
					.header__logo-general
						//-+icon('logo-unisolidarity')
						icon(name="logo-unisolidarity")
					.header__logo-emblem
						//-+icon('logo-unisolidaruty-emblem')
						icon(name="logo-unisolidaruty-emblem")
		else	
			a.header__logo(href=href=index_page)
				.page__wrapper
					.header__logo-general
						//-+icon('logo-unisolidarity')
						icon(name="logo-unisolidarity")
					.header__logo-text
						.header__logo-title
							| Университетская солидарность
						.header__logo-subtitle
							| Официальный сайт Межрегионального профсоюза работников высшей школы
					.header__logo-emblem
						//-+icon('logo-unisolidaruty-emblem')
						icon(name="logo-unisolidaruty-emblem")
		nav.header__menu.custom-scroll
			.page__wrapper
				if local
					+header_menu(local_menu)
				else
					+header_menu(general_menu)