mixin head(title)
	- function pDate() {return new Date().getTime();}
	head
		if !title
			title Unisolidarity
		else
			title #{title}
		link(rel="stylesheet", href="css/bootstrap.css?ver=" + pDate())
		link(rel="stylesheet", href="css/vendors/jssocials.css?ver=" + pDate())
		//link(rel="stylesheet", href="css/vendors/jssocials-theme-classic.css?ver=" + pDate())
		link(rel="stylesheet", href="css/style.css?ver=" + pDate())
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/site.webmanifest')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='msapplication-TileColor', content='#da532c')
		meta(name='theme-color', content='#ffffff')
		meta(charset='utf-8')
		meta(name="viewport", content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="description", content="Университетская солидарность")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		if config.images.generateSpritePng
			link(rel="stylesheet", href="css/sprite.css")