//- VARS
-
	var imgFolder = 'images/',
		index_page = 'index.html',
		rulers_page = 'rulers.html',
		tag_page = 'tag.html',
		about_page = 'about.html',
		contacts_page = 'contacts.html',
		news_page = 'news.html',
		around_page = 'around.html';


include head.pug
include scripts.pug
include icon.pug
include articles.pug
include showmore.pug
include banners.pug