mixin scripts()
	-
		scripts = [
			{name: 'jquery-3.3.1', vendor: true},
			{name: 'vue', vendor: true},
			{name: 'jssocials', vendor: true},
			{name: 'swiper', vendor: true},
			{name: 'app', vendor: false},
		];
	each script in scripts
		-
			var script_path = script.vendor ? 'js/vendors/' : 'js/',
				script_name = args.prod ? `${script.name}.min.js` : `${script.name}.js?ver=${pDate()}`,
				src = script_path + script_name;
		script(src=src)