
.section--partners{
	border-top:  1px solid;
	border-color: var(--gray_d7d);
	& > .page__wrapper{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	& .partner{
		margin-top: 15px;
		margin-bottom: 15px;
	}	
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){

	}	
	@media (--xl-viewport){
									
	}	
}
