
.section--partners{
	border-top:  1px solid;
	border-color: var(--gray_d7d);
	& > .page__wrapper{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 15px;
		padding-bottom: 15px;
		flex-wrap: wrap;
		overflow-x: auto;
		overflow-y: hidden;
	}
	& .partner{
		margin-top: 15px;
		margin-bottom: 15px;
	}	
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){

	}	
	@media (--xl-viewport){
		& > .page__wrapper{
			flex-wrap: nowrap;
		}										
		& .partner{
			&:not(:last-of-type){
				margin-right: 20px;
			}
			&:not(:first-of-type){
				margin-left: 20px;
			}
		}									
	}	
}
