
.page__main-aside{
	width: 100%;
	flex-shrink: 0;
	margin-bottom: 10px;
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
		& .article__wrapper{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			& .article{
				max-width: calc(50% - var(--aside-gap)/2);
			}			
		}								
	}	
	@media (--lg-viewport){
		max-width: var(--aside-max);
		margin-bottom: 30px;
		&  .article__wrapper{
			display: block;
			& .article{
				max-width: 100%;
			}			
		}		
	}	
	@media (--xl-viewport){
										
	}	
}

