
.banner--around,
.widget_banner--around{
	font-family: PTSerif;
	font-size: 16px; 
	max-width: none;
	background-color: var(--white);
	& > .block--bordered{
		margin-top: -10px;
		margin-bottom: -10px;
		margin-left: -25px;
		margin-right: -25px;
		max-width: none;
		padding: 20px 20px;
	}
}

