
.article__categories{
	font-family: PTSans;
	font-size: 12px;
	text-transform: uppercase;
	/*letter-spacing: 0.6px;*/
	margin-bottom: 15px;
	& .categories__item{
		display: inline-block;
		padding:  4px 9px;
		margin-right: 2px;
		margin-bottom: 2px;
		background-color: var(--gray_464);
		color: var(--white);
		text-decoration: none;
	}
}

