
.pagination__item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	line-height: 1;
	border-radius: 50%;
	background-color: var(--gray_faf);
	text-decoration: none;
	&:not(:last-of-type){
		margin-right: 10px;
	}
}

