
:root{
	/*Variables*/
	--wrapper-max: 1164px; 
	--page-gap: 15px;  
	--scrollbar-width:  0px;
	--anim-dur:  0.4s;
	--aside-gap:  36px;
	--aside-max:  365px;

	/*Colors*/
	--black: #000000;
	--white: #ffffff;

	--red_b01:  #b01e21;
	--gray_d7d:  #d7d7d7;
	--gray_707:  #707070;
	--gray_464:  #464646;
	--gray_faf:  #fafafa;
	--gray_f3f:  #f3f3f3;


	/*Fonts*/
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;
	
}


@custom-media --xs-viewport (width >= 0px);
@custom-media --sm-viewport (width >= 576px);
@custom-media --md-viewport (width >= 768px);
@custom-media --lg-viewport (width >= 992px);
@custom-media --xl-viewport (width >= 1200px);

@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;
@custom-selector :--table-cell td, th;

/* FONTS */

@font-face {
	font-family: PTSerif;
	src: 	url('../fonts/PTSerif/PTSerifRegular.woff2'),
			url('../fonts/PTSerif/PTSerifRegular.woff');
	font-style: normal;
	font-weight: var(--fw-normal);
}

@font-face {
	font-family: PTSerif;
	src: 	url('../fonts/PTSerif/PTSerifItalic.woff2'),
			url('../fonts/PTSerif/PTSerifItalic.woff');
	font-style: italic;
	font-weight: var(--fw-normal);
}

@font-face {
	font-family: PTSerif;
	src: 	url('../fonts/PTSerif/PTSerifBold.woff2'),
			url('../fonts/PTSerif/PTSerifBold.woff');
	font-style: normal;
	font-weight: var(--fw-bold);
}

@font-face {
	font-family: PTSerif;
	src: 	url('../fonts/PTSerif/PTSerifBoldItalic.woff2'),
			url('../fonts/PTSerif/PTSerifBoldItalic.woff');
	font-style: italic;
	font-weight: var(--fw-bold);
}

@font-face {
	font-family: PTSans;
	src: 	url('../fonts/PTSans/PTSansRegular.woff2'),
			url('../fonts/PTSans/PTSansRegular.woff');
	font-style: normal;
	font-weight: var(--fw-normal);
}

/* OTHER */

*{
	box-sizing: border-box;
	max-width: 100%;
	word-break: break-word;
	&:matches(:active,:focus){
		
	}
	&:visited{
		
	}
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: PTSerif, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: var(--black);
	font-weight: var(--fw-normal);
}


a{
	color: currentcolor;
	&:hover,
	&:active{

	}
}

img{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

:--all-headers{
	/*font-weight: var(--fw-bold);*/
}

h1{
	
}
h2{

}
h3{

}
h4{
	
}
h5{

}
h6{
	
}





