
.lightbox__item{
	width: 100%;
	margin-bottom: calc( var(--aside-gap)/2 );
	@media (--sm-viewport){
		max-width: calc( 100%/2 - var(--aside-gap)/2 );									
	}	
	@media (--md-viewport){
		max-width: calc( 100%/3 - var(--aside-gap)/2 );																			
	}	
	@media (--lg-viewport){
										
	}	
	@media (--xl-viewport){
										
	}	
}

