
.section--banners{
	background-color: var(--gray_faf);
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
		padding-top: var(--page-gap);
		padding-bottom: var(--page-gap);
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		& > .page__wrapper{
			flex-direction: row;
			align-items: stretch;
			justify-content: space-between;
			padding-top: 40px;
			padding-bottom: 40px;			
		}
		& .banner{
			margin-bottom: 0;
			margin-left: 0;		
			margin-right: 0;				
		}
	}	
	@media (--xl-viewport){
										
	}	
}

