
.blog{
	width: 100%;
	font-size: 18px;
	& i,
	& em{
		font-style: italic;
		font-family: PTSans;
		font-size: 16px;
	}
	& ol{
		padding-left: 0;
		list-style-position: inside;
	}
	& ul{
		padding-left: 0;
		list-style-position: inside;
		list-style-image: url("data:image/svg+xml,%3Csvg height='7' width='6' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23000000'%3E%3C/circle%3E%3C/svg%3E%0A");
		& > li{
			margin-bottom: 2px;
		}
	}
	& a[href^='tel:']{
		text-decoration: none;
	}
	& a[href^='mailto:']{
		color: var(--red_b01);
		text-decoration: underline;
	}
	& hr{
		border: none;
		border-bottom: 1px solid;
		border-color: var(--gray_d7d);
	}
}

