
.socials{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 0;
	margin-bottom: 0;	
	& .icon{
		opacity: 0.6;
		display: block;
		&:hover,
		&:active{
			opacity: 1;
		}
	}
	& .list__item{
		&:not(:last-of-type){
			margin-right: 38px;		
		}
	}
}

