
.page__wrapper{
	width: 100%;
	max-width: calc( var(--wrapper-max) + var(--page-gap)*2 );
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
										
	}	
	@media (--xl-viewport){
										
	}
}

