
.footer__logo-left{
	flex-shrink: 1;
	margin-right: 22px;	
	& > .icon,
	& > svg{
		display: block;
		opacity: 0.6;
		width: 130px;
		height: 82px;
	}
	@media (--sm-viewport){
										
	}	
	@media (--md-viewport){
										
	}	
	@media (--lg-viewport){
		flex-shrink: 0;									
	}	
	@media (--xl-viewport){
										
	}	
}

