
.partner{
	display: block;
	text-decoration: none;
	flex-shrink: 0;
	flex-basis: 100%;
	text-align: center;
	& > img{
		max-width: 145px;
	}
	@media (--sm-viewport){
					
	}	
	@media (--md-viewport){
						
	}	
	@media (--lg-viewport){

	}	
	@media (--xl-viewport){

	}
}

