
.slider--partners{
	width: 100%;
	& .slider__wrapper{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	& .slider__slide{
		width:  auto;
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
		&:not(:last-of-type){
			& .partner{
				margin-right: 20px;				
			}
		}
		&:not(:first-of-type){
			& .partner{
				margin-left: 20px;				
			}
		}			
	}
}

