
.article--lg{
	/*max-width: 365px;*/
	& .article__title{
		font-size: 20px;
	    margin-bottom: 14px;
	}
	& .article__pic{
		&::before{
			content: '';
			display: block;
			padding-top: 56%;
		}
	}	
	& .article__pic-wrapper{
		padding: 16px 12px;
	}
	& .article__categories{
		margin-bottom: 8px;
	}
	& .categories__item{
		padding:  4px 9px;
	}
	& .categories__title{
		margin-bottom: 15px;
	}			
}

