
.article--lg{
	& .article__title{
		font-size: 28px;
	    letter-spacing: 1.2px;
	    line-height: 1.2;
	}
	& .article__pic{
		position: relative;
		&::before{
			content: '';
			display: block;
			padding-top: 56%;
		}		
		&::after{
			content: '';
			position: absolute;
			z-index: 1;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
			opacity: 0.72;
		}
	}
	& .article__pic-wrapper{
		padding: 22px 18px;
	}
	& .categories__item{
		padding:  4px 6px;
	}			
}

