
.article__tags{
	color: var(--red_b01);
	& .tags__item{
		text-decoration: none;
		display: inline-block;
		&:not(:last-of-type){
			margin-right: 4px;
		}
		&:not(:first-of-type){
			&::before{
				content: '•\00a0';
			}
		}
	}
}

